*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
  height: auto;
}

body{
 font-family: 'Hanken Grotesk', sans-serif;
 
}
main{
  padding: 50px 0;
  margin: 0 20px;
}
p{
  font-weight: 400;
  line-height:2;
  font-size:18px;
 
}
h1{
  font-size:48px;
}
button{
  font-size: 14px;
  cursor: pointer;
}
.skip-navigation {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -1;
  background-color:hsl(322, 100%, 66%) ;
}

.skip-navigation:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  z-index: 1;
}
body a{
  color: black;
  text-decoration: none;
}

header{
  background-image:url(.../../Assets/bg-hero-desktop.svg);
  background-color:hsl(193, 100%, 96%);
  padding: 50px 100px;
}

nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

nav button{
  padding: 15px 80px;
  background-color: #fff;
  border: none;
  border-radius:20px;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#about-huddle{
  display: flex;
  margin-top:50px;
 justify-content: center;
 align-items: center;
}

#about-huddle button, #build-your-community button{
   padding: 20px 60px;
   margin-top: 30px;
   border-radius: 30px;
   background-color:hsl(322, 100%, 66%);
   border: none;
   color: #fff;
 

  
}
#huddle-item-text p, #huddle-item-text h1{
  width: 80%;
}

 #growing-together,#your-users, #flowing-conversations{
  padding: 50px 100px;
  margin-bottom:100px;
   ;
  
  
 }

#growing-together,#your-users{
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#flowing-conversations{
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  flex-direction: row-reverse;

}

#growing-together p,#your-users p, #flowing-conversations p{
  color: hsl(208, 11%, 55%);
  width: 70%;
  margin-top: 20px;
}



#build-your-community{
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 50px 100px;
  position: relative;
  margin-bottom: -150px;
}
footer{
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  padding: 200px 100px 30px 100px;
}
#footer-section{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
 
}

.footer-item ul{
  list-style: none;
}
.huddle-location-item{
  display: flex;
  align-items: center;

 
}
.huddle-location-item-align{
align-items: flex-start;
}
.huddle-location-item-align img{
  margin-top: 12px;
}

.huddle-location-item p{
  width: 100%;
  color: #fff !important;
  font-size: 16px;
  
}
.huddle-location-item>figure{
  margin-right: 30px;
}

#huddle-location-info{
  width: 40%;
}
#huddle-location-info>section{
  margin-bottom: 30px;
}

#about-us-list-item li, #other-information li{
  margin-bottom: 20px;
}
#social-media-icons  ul{
  display: flex;
  
}

#social-media-icons li{
  border: 1px solid;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
#copyright{
  display: flex;
  flex-direction: row-reverse;
}
#copyright p{
  font-size: 12px;
}
.footer-logo {
    filter: brightness(0) invert(1);
}


@media only screen and (max-width: 1020px){
  header{
    background-image:url(.../../Assets/bg-hero-mobile.svg);
    background-color:hsl(193, 100%, 96%) ;
    padding: 50px 80px;
  }
  h1{
  font-size:32px;
}
  #about-huddle{
    display: grid;
    text-align: center;
    grid-gap: 30px;
      
  }


  #huddle-item-text p, #huddle-item-text h1{
    width: 100%;
    text-align: center;
  }
  #growing-together,#your-users,#flowing-conversations{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
     margin-bottom:50px;
  }
  
#build-your-community{
  width: 100%;
  margin-bottom: -200px;
 }
 #growing-together p,#your-users p, #flowing-conversations p{
  width: 100%;
  margin-top: 20px;
}

#footer-section{
  display: grid;
}

#huddle-location-info {
    width: 100%;
}
footer {
  padding: 250px 30px 20px 30px;
  font-size: 16px;
}
#social-media-icons ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#copyright{
  display: flex;
  flex-direction: row;
 font-size: 10px;
 margin: 0 auto;
}
#copyright p{
  width: 100%;
  text-align: center;

}

}




@media only screen and (max-width:  760px){
  
  header{
    padding:50px 10px;
  }
    h1{
  font-size:24px;
}
  nav img{
    width: 40%;
    height: auto;
  }
  nav button{
  padding: 10px 20px;
  width: 40%;
  
}
#growing-together, #your-users, #flowing-conversations {
    padding: 10px 20px;
    margin-bottom: 100px;
}
#build-your-community {
    padding: 20px;
    margin-bottom: -150px;
}
 
}

